@import "./variables.scss";


form {
    @include center;
    flex-direction: column;
      background-color: $grey;
      height: 100vh;
      width: 100vw;
    a {
      height: 2rem;
      width: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      padding: 2.5rem;
      &#decrease {
        background-image: url(./SVGs/arrow-left-black.svg);
      }
      &#increase {
        background-image: url(./SVGs/arrow-right-black.svg);
      }
    }
    h1 {
      margin: 0 auto;
    }
    #set-time-length {
      @include center;
      flex-direction: row;
    }
    #time-checkboxes {
        label {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            }
        }
    }
 
