/* MIXINS */
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* VARIABLES */

/* colors */
$black: #000000;
$grey: #eeeeee;
$white: #ffffff;

/* stylings */
$opacityLevel: 0.6;

$radius: 5px;

/* COMPONENTS */
// button {
//   appearance: none;
//   background: none;
//   display: inline-block;
//   padding: 0.5rem 1rem;
//   border: 1px solid $black;
//   color: $black;
//   text-transform: uppercase;
//   border-radius: $radius;
// }
